{% extends 'base.html' %}
{% load static %}

{% block title%}
    <title>Order</title>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="this-order">
        <h1 class="title">Total : {{order.total}} DA</h1>
        <div class="products-content">
            {% for order_item in order_items %}
                <div class="product" product-category="{{order_item.product.category.name}}">
                    <div class="img">
                        <a class="product-img active" href="{{order_item.product.images.first.image.url}}"><img src="{{ order_item.product.images.first.image.url }}" alt=""></a>
                        {% if order_item.product.images.all|slice:"1:" %}
                            {% for image in order_item.product.images.all|slice:"1:" %}
                                <a class="product-img" href="{{ image.image.url }}"><img src="{{ image.image.url }}" alt=""></a>
                            {% endfor %}
                        {% endif %}
                        <i class="fa-solid fa-arrow-right" id="btn-right"></i>
                        <i class="fa-solid fa-arrow-left" id="btn-left"></i>
                    </div>
                    <div class="product-infos">
                        <h2 class="product-name">{{ order_item.product.name }}</h2>
                        <h4 class="product-price">Quantity : {{ order_item.quantity }}</h4>
                        <h4 class="product-price">Subtotal : {{ order_item.total }} DA</h4>
                        <h4 class="product-price">Size : {{ order_item.size }}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'delete-order' order.id %}" class="delete-this-order">Delete This Order</a>
    </div>
{% else %}
    <div class="this-order">
        <h1 class="not_authenticated">You are not Login !</h1>
    </div>
{% endif %}
<script>
// For White Background Navbar
const nav = document.querySelector('nav');
$('nav').css("background-color", "#fff");
$('.this-order').css('padding-top', `${nav.clientHeight + 16}px`);
// For Product Image
var counter_list = [];
var products_list = [];
document.addEventListener('DOMContentLoaded', function() {
    let products = $(".product");
    for(let i=0; i<products.length; i++){
        if(products.eq(i).find('.img').children('.product-img').length > 1){
            products_list.push(products.eq(i));
            counter_list.push(0);
            
        }
        else{
            products.eq(i).find('.img i').remove();
        }
    }
    for(let i=0; i< products_list.length; i++){
        products_list[i].on('click', '#btn-right', function(){
            var counter = counter_list[i];
            var images = $(this).siblings('.product-img');
            images.eq(counter).css('animation', 'next1 0.5s ease forwards');
            if(counter>=images.length-1) counter = 0;
            else counter++;
            images.eq(counter).css('animation', 'next2 0.5s ease forwards');;
            counter_list[i] = counter;
        });
        products_list[i].on('click', '#btn-left', function(){
            var counter = counter_list[i];
            var images = $(this).siblings('.product-img');
            images.eq(counter).css('animation', 'prev1 0.5s ease forwards');
            if(counter == 0) counter = images.length-1;
            else counter--;
            images.eq(counter).css('animation', 'prev2 0.5s ease forwards');;
            counter_list[i] = counter;
        });
    }
});
</script>
{% endblock %}